<form id="toot-form" (ngSubmit)="sendToot()">
  <ion-item *ngIf="spoilerToggle">
    <ion-input (ngModelChange)="countTootLength()" type="text" [(ngModel)]="newToot.spoiler_text" name="spoiler_text" placeholder="Content warning"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="color: grey" id="characterCounter" stacked> {{remainingCharacters}}</ion-label>
    <ion-textarea autocomplete="true" spellcheck="true"[(ngModel)]="newToot.status" (ngModelChange)="countTootLength()" rows="4" name="status" placeholder="What's up?"></ion-textarea>
  </ion-item>
  <ion-item *ngIf="newToot.media_ids">
    <ion-label>Sensitive Media?</ion-label>
    <ion-checkbox [(ngModel)]="newToot.sensitive" name="sensitive"></ion-checkbox>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col width-20>
        <button type="button" ion-button block on-tap="toggleSpoilerText();" *ngIf="spoilerToggle" color="dark">CW</button>
        <button type="button" ion-button block on-tap="toggleSpoilerText();" *ngIf="!spoilerToggle" color="light">CW</button>
      </ion-col>
      <ion-col width-20>
        <button *ngIf="!isUploading" type="button" ion-button block on-tap="handleImagePicking()">
           <ion-icon ios="ios-image" md="md-image"></ion-icon>
        </button>
        <ion-spinner *ngIf="isUploading" name="crescent"></ion-spinner>
      </ion-col>
      <ion-col width-40></ion-col>
      <ion-col width-20 right>
        <button type="button" ion-button block on-tap="handleTootVisibility()">
           <ion-icon [name]="visibilityIcon"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="newToot.media_ids">
      <ion-col *ngFor="let media of attachedMedia" width-25>
          <img  on-tap="showSlideShowFrom(index)" src="{{media.preview_url}}">
      </ion-col>
    </ion-row>  
    <ion-row *ngIf="newToot.media_ids">
      <ion-col *ngFor="let media of attachedMedia" width-25>
        <button ion-button type="button" style="font-size: 13px;max-height:50px;" block color="dark" on-tap="removeAttachment(media)">Remove</button>
      </ion-col>
    </ion-row>    
  </ion-grid>
</form>
