<div class="{{divClassName[mediaAttachments.length-1]}}">
  
  <div class="nsfw_wrapper" [hidden]="hideWarning || !mediaIsSensitive">
    <div class="nsfw_warning" on-tap="toggleWarning()">
      <ion-icon center ios="ios-alert" md="md-alert"></ion-icon>
      <div class="nsfw_text_wrapper">
        <p>This image has been marked as NSFW / Sensitive.</p>
        <p>Tab on the box to reveal it </p>
      </div>
    </div>
  </div>  
  
  <ng-container *ngFor="let media of mediaAttachments; let i = index">
  
    <div *ngIf="media.type == 'image'" class="{{mediaClassName[i]}}" on-tap="showSlideshowFrom(i)"
      [style.background-image]="'url(' + media.preview_url + ')'" [ngClass]="{'hideMedia': !hideWarning}" >

      <!-- im here to determine the size of a single image -->
      <img *ngIf="mediaAttachments.length == 1" src="{{media.preview_url}}"> 
    </div>    

    <div *ngIf="media.type == 'gifv' && isiOS || media.type == 'video'" class="{{mediaClassName[i]}}" [ngClass]="{'hideMedia': !hideWarning}" >
      <div class="playButtonWrapper">
        <div class="playButton">
          <ion-icon name="play"></ion-icon>
        </div>
        <video poster="{{media.preview_url}}" [class.ios]="isiOS" loop>
          <source src="{{media.url}}" type ="video/mp4">
        </video>
      </div>
    </div>
    <div *ngIf="media.type == 'gifv' && !isiOS"  class="{{mediaClassName[i]}}" [ngClass]="{'hideMedia': !hideWarning}" >
      <video poster="{{media.preview_url}}"
            class="gifv" loop autoplay muted>
        <source src="{{media.url}}" type ="video/mp4">
      </video>
    </div>
  </ng-container>
</div>