media-attachments {
    $maxHeightMulti: 200px;
    $maxHeightSingle: 300px;

    .playButtonWrapper {
        height: 100%;
        width: 100%;
        position: relative;
        .playButton {
            z-index: 90;
            color:white;
            border: 2px solid white;
            background: rgba(0,0,0,0.3);
            font-size: 23px;
            height: 30px;
            width: 30px;
            border-radius: 20px;
            position: relative;
            margin: 0 auto;
            top: 50%;
	        transform: translateY(-50%);
            ion-icon {
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-35%,-50%);
            }
        }
    }

    video {
        max-height: 100%;
        max-width: 100%;
    }

    .singleMedia{
        .playButtonWrapper {
            float:left;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center;
            .playButton {
                min-width: 30px;
                margin:none;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        max-height: $maxHeightSingle;
        .first {
            max-width: 100%;
            max-height: $maxHeightSingle;
            margin:0 auto;
            position: relative;
            img, video {
                max-height: $maxHeightSingle;
            }
            video {
                margin-left: -30px;
            }

        }
        .nsfw_warning {
            min-height: $maxHeightSingle;
            min-width: 100%;
            z-index: 100;
        }
    }
    .first,.second,.third,.fourth{
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        float:left;
        overflow: hidden;
    }
    
    .nsfw_warning{
        z-index: 100;
        min-height:$maxHeightMulti;
        background: black;
        width:100%;
        position: absolute;
        color:white;
        ion-icon{
            font-size: 70px;
            text-align: center;
            padding-top: 35px;
            display: block;
        }

        .nsfw_text_wrapper{
            width: 100%;
            padding: 0 10px;
            text-align: center;
            display:inline-block;
            white-space: normal;
            word-wrap: normal;
        }
    }

    .nsfw_wrapper{
        position:relative;
    }

    .two, .three, .four {
        width: 100%;
        height: $maxHeightMulti;
        video {
            border: none !important;
            z-index: 1;
            width: 100% !important;
            height: 100% !important;
            display: inline-block;
            -webkit-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            background-size:100% 100%;
            object-fit:cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size:cover;
        }
        video.ios {
            margin-top: -30px;
        }
    }

    .four {
        .first, .second, .third, .fourth {
            height: 50%;
            width: 50%;
        }

        .first, .second {
            border-bottom: 1px solid white;
        }

        .first, .third {
            border-right: 1px solid white;
        }

        .second, .fourth {
            border-left: 1px solid white
        }

        .third, .fourth {
            border-top: 1px solid white;
        }
    }

    .two {
        .first, .second {
            height: 100%;
            width: 50%;
        }

        .first {
            border-right: 1px solid white;
        }

        .second {
            border-left: 1px solid white;
        }
    }

    .three {
        .first {
            height: 100%;
            width: 50%;
            border-right: 1px solid white;
        }
        .second, .third {
            height: 50%;
            width: 50%;
            border-left: 1px solid white;
        }

        .second {
            border-bottom: 1px solid white;
        }

        .third{
            border-top: 1px solid white;
        }
    }
}
