<div class="{{divClassName[mediaAttachments.length-1]}}">
  
  <div class="nsfw_wrapper" [hidden]="hideWarning || !mediaIsSensitive">
    <div class="nsfw_warning" (click)="toggleWarning()">
      <ion-icon center ios="ios-alert" md="md-alert"></ion-icon>
      <div class="nsfw_text_wrapper">
        <p>This image has been marked as NSFW / Sensitive.</p>
        <p>Tab on the box to reveal it </p>
      </div>
    </div>
  </div>  
  
  <ng-container *ngFor="let media of mediaAttachments; let i = index">
  
    <div *ngIf="media.type == 'image'" class="{{mediaClassName[i]}}" (click)="showSlideshowFrom(i)"
      [style.background-image]="'url(' + media.preview_url + ')'">

      <!-- im here to determine the size of a single image -->
      <img *ngIf="mediaAttachments.length == 1" src="{{media.preview_url}}"> 
    </div>    

    <div *ngIf="media.type == 'gifv' && isiOS" class="{{mediaClassName[i]}}" >
      <div class="playButtonWrapper">
        
        <div class="playButton" *ngIf="media.type =='video' || media.type == 'gifv' && isiOS">
          <ion-icon name="play"></ion-icon>
        </div>
        <video poster="{{media.preview_url}}" class="gifv ios {{mediaClassName[i]}}" loop muted>
          <source src="{{media.url}}" type ="video/mp4">
        </video>
      </div>
    </div>
    <video *ngIf="media.type == 'gifv' && !isiOS" poster="{{media.preview_url}}"
          class="gifv {{mediaClassName[i]}}" loop autoplay muted>
      <source src="{{media.url}}" type ="video/mp4">
    </video>
  </ng-container>
</div>