<ion-header>

  <ion-navbar>
    <ion-title>@{{user.acct}}</ion-title>
    <ion-buttons *ngIf="loggedInUser" end>
      <button ion-button icon-only  on-tap="showOptions($event)"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
    <ion-buttons *ngIf="!loggedInUser" end>
      <button on-tap="showOptions($event)" class="user_settings" ion-button icon-only>
        <ion-icon ios="ios-settings-outline" name="settings"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons *ngIf="!loggedInUser" end>
      <button ion-button icon-only on-tap="createNewMention()"> <ion-icon name="return-left"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher pullMin="150" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div class="image_header"
    [style.background-image]="'url(' +user.header + ')'">
  </div>
  <div class="wrapper">
    <div *ngIf="relationships" class="button_wrapper">
      <button *ngIf="!relationships.following && !relationships.requested && !relationships.blocking" on-tap="followAction()" class="followButton teal" ion-button small>Follow</button>
      <button *ngIf="relationships.following" on-tap="unfollowAction()" class="followButton" color="danger" ion-button small>Unfollow</button>
      <button *ngIf="relationships.blocking" on-tap="unblockAction()" class="followButton" color="danger" ion-button small>Unblock</button>
      <button *ngIf="relationships.requested" class="followButton" color="dark" ion-button small>Requested</button>
      <ion-badge *ngIf="relationships.followed_by"> Follows You </ion-badge>
      
      
    </div>
    <ion-avatar> 
      <img src="{{user.avatar}}" onerror="this.src='assets/img/pineapple_avatar.png'">
    </ion-avatar> 
    <div class="display_name">
      {{user.display_name | emojify}} <br>
      <div [innerHTML]="user.note | emojify"> </div>
    </div>  
    <ion-grid>
      <ion-row>
        <ion-col on-tap="showFollowing()" class="left" width-50>{{user.following_count}} Follows</ion-col>
        <ion-col on-tap="showFollowers()"  class="right" width-50>{{user.followers_count}} Followers</ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-spinner class="initialLoader"*ngIf="!userToots">
  </ion-spinner>

  <ion-list can-swipe="true">
    <ng-container *ngFor="let toot of userToots">
        <slidable-toot [toot]="toot"></slidable-toot>
    </ng-container>  
  </ion-list>


  <ion-infinite-scroll (ionInfinite)="loadOlderToots($event)" threshold="100px">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="More toots, coming up 🎉🎉🎉...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
