page-user-profile {
    .image_header{
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        float:left;
        min-width: 100%;
        min-height: 220px;
    }
    
    .wrapper {
        background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.8), rgba(255,255,255,1));
        float:left;
        position: absolute;
        width: 100%;
        min-height: 220px;
        
        .button_wrapper {
            position: absolute;
            width: 100%;
            min-height:220px;

            .followButton {
                width: 90px;
                margin: 21px auto 0 auto;
                transform: translate(+110%,0);
                display: block;
            }

            ion-badge{
                display:block;
                width: 90px;
                background: rgba(255,255,255,0.7);
                color: black;
                transform: translate(+110%,0);
                font-size: 11px;
                font-weight: normal;
                margin: 10px auto 0 auto;
            }
        }

        ion-avatar {
            width: 70px;
            margin: 20px auto 0 auto; 
            img {
                border-radius:35px;
            }
        }
        

        a{
           color: #2962FF
        }

        .display_name{
            font-weight: bold;
            width: 100%;
            margin-top: 3px;
            padding: 0 5px;
            text-align: center;
            div {
                // display: flex;
                // flex-wrap: nowrap;
                // align-items: center;
                // flex-direction: column;
                // justify-content: center;
                // display: -webkit-flex;
                // -webkit-flex-wrap: nowrap; 
                // -webkit-align-items: center;
                // -webkit-flex-direction: column;
                // -webkit-justify-content: center;
                font-weight: normal !important;
                min-height: 80px;
                color: #212121;
                font-size: 13px;
            }
        }

        ion-grid{
            margin:0;
            padding: 0;
            position: absolute;
            float: left;
            bottom: 0px;
            color: #424242;
        }

        ion-col {
            text-align: center;
            border-bottom: rgba(93,93,93,0.1) 1px solid;
            font-size: 16px;
            border-top: rgba(93,93,93,0.1) 1px solid;
            min-height: 30px;
        }

        .left{
            border-right:rgba(93,93,93,0.1) 1px solid;
        }


    }

    .initialLoader {
        display:block;
        width: 40px;
        margin: 300px auto;
    }


}
