.toot_content {
    overflow: initial;
    white-space: initial;
}

.toot_content{
    p {
        color:black;
        padding-bottom: 5px;
    }
}

.inTootAva img{
    position:absolute;
    top: 15px ;
}

.toot_author_label {
    font-weight: bold !important;
    display: inline-block;
}

.toot_author_username {
    font-size: 12px;
    color: grey;
    display: inline-block;
}

.favorited {
    position:absolute;
    top: 3px;
    right: 7px;
    color: #FFC400;
}

.newlyFaved {
    div.favorited{
        opacity:0;
        animation-iteration-count: 1;
        animation-name: spin_star;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }
}

.newlyUnfaved {
    div.favorited{
        opacity:1;
        animation-iteration-count: 1;
        animation-name: spin_away;
        animation-duration: 2s;
        animation-timing-function: ease-in;
    }
}

@keyframes spin_away {
    from {transform: rotate(0deg)}
    70% {opacity: 0;
        }
    to {
        opacity: 0;
        transform: rotate(1080deg)
    }
}

@keyframes spin_star {
    from {transform: rotate(1080deg)}
    30% {opacity: 1;
        }
    to {
        opacity: 1;
        transform: rotate(0deg)
    }
}

ion-item-options{
    button {
        min-width: 70px;
    }
}

.orange {
    background-color: #F57F17;
}

.purple {
    background-color:#673AB7;
}

.hide_spoiler {
    overflow:none;
    max-height: 0;
    color:white;
    display:none;
}
.show_spoiler {
    color:black;
    animation-iteration-count: 1;
    animation-name: fadein;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

@keyframes fadein {
    from { max-height: 0; }
    to   { max-height: 2000px; }
}