<ion-header>
  <ion-navbar>
    <ion-title>Timeline</ion-title>
    <ion-buttons end>
      <ion-spinner *ngIf="timelineSwitching"></ion-spinner>
      <button *ngIf="!timelineSwitching" ion-button icon-only (click)="toggleTimelineType()">
        <span *ngIf="timelineType == 'home'">🌏</span>
        <span *ngIf="timelineType == 'public'">🏠</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher pullMin="100" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list can-swipe="true">
    <ng-container *ngFor="let toot of toots">
        <slidable-toot [toot]="toot"></slidable-toot>
      </ng-container>  
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadOlderToots($event)" threshold="300px">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="More toots, coming up 🎉🎉🎉...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
