page-account-switcher {

    ion-list{
        padding-top: 5px;
        padding-bottom: 0;
        h3 {
            white-space: initial;
            overflow: initial;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        ion-avatar{
            margin: 0;
            padding: 0;
        }
        ion-icon{
            padding-left: 7px;
        }
        .addAccount{
            padding-left: 12px;
        }
    }
}
