<ion-header>
  <ion-navbar>
    <ion-title>Detail</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list can-swipe="true">
    <ng-container *ngFor="let toot of ancestors">
        <slidable-toot [toot]="toot"></slidable-toot>
    </ng-container>  
  </ion-list>

  <ion-card class="mainToot">

    <ion-item>
      <ion-avatar item-left>
        <img src="{{mainToot.account.avatar}}">
      </ion-avatar>
      <h2>{{mainToot.account.display_name | emojify}}</h2>
      <p>@{{mainToot.account.acct}}</p>
    </ion-item>

    <ion-card-content >
      <p *ngIf="mainToot.spoiler_text">{{mainToot.spoiler_text}}<br></p> 
      <div [innerHTML]="mainToot.content | emojify"></div>
      <media-attachments [mediaAttachments]="mainToot.media_attachments"></media-attachments>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="return-left"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button class="orange_outline" ion-button icon-left clear small>
          <ion-icon *ngIf="!mainToot.favourited"name="star-outline"></ion-icon>
          <ion-icon *ngIf="mainToot.favourited"name="star"></ion-icon>
          <div>{{mainToot.favourites_count}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button *ngIf="mainToot.visibility=='private'" ion-button icon-left clear small color="dark">
          <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
        </button>
        <button *ngIf="mainToot.visibility!='private'"class='purple_outline' ion-button icon-left clear small>
          <ion-icon ios="md-repeat" name="repeat"></ion-icon>
          <div>{{mainToot.reblogs_count}}</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-list can-swipe="true">
    <ng-container *ngFor="let toot of descendants">
        <slidable-toot [toot]="toot"></slidable-toot>
      </ng-container>  
  </ion-list>

</ion-content>
