<ion-header>
  <ion-navbar>
    <ion-title>Detail</ion-title>
  </ion-navbar>
</ion-header>


<ion-content #content>
  <ion-list can-swipe="true">   
    <ng-container *ngFor="let toot of ancestors">
        <slidable-toot [toot]="toot"></slidable-toot>
    </ng-container>  
    <slidable-toot [toot]="mainToot" class="mainToot"></slidable-toot>
    <ion-item-divider text-center no-lines class="tootInfo">
          <div class="timestamp">
            {{mainToot.created_at | date:"dd.MM.yy 'at' H:mm"}}
          </div>
          <button class="orange_outline" ion-button icon-left clear small>
            <ion-icon *ngIf="!mainToot.favourited"name="star-outline"></ion-icon>
            <ion-icon *ngIf="mainToot.favourited"name="star"></ion-icon>
            <div>{{mainToot.favourites_count}}</div>
          </button>
          <button *ngIf="mainToot.visibility=='private'" ion-button icon-left clear small color="dark">
            <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
          </button>
          <button *ngIf="mainToot.visibility!='private'"class='purple_outline' ion-button icon-left clear small>
            <ion-icon ios="md-repeat" name="repeat"></ion-icon>
            <div>{{mainToot.reblogs_count}}</div>
          </button>
    </ion-item-divider>
      <ng-container *ngFor="let toot of descendants">
        <slidable-toot [toot]="toot"></slidable-toot>
      </ng-container>  
  </ion-list>

</ion-content>
