page-toot-detail {
    ion-card-content {
        p {
            color:black !important;
        }
    }
    media-attachments{
        .singleMedia{
            max-height: 100% !important;
            float: left;
            img {
                width: fit-content;
                max-height: 100% !important;
                
            }
        }
    }

}
